---
import BaseLayout from './../layouts/BaseLayout.astro';

export const partial = false;

const pages = [
    {
        esi: undefined,
        fetchUrl: null
    },
    {
        esi: "index",
        fetchUrl: getUrlWithId()
    },
    {
        esi: "slider",
        fetchUrl: "http://astro-fragment:4321/slider"
    },
    {
        esi: "thymeleaf-slider",
        fetchUrl: "http://thymeleaf-fragment:8080/"
    },
    {
        esi: "angular-slider",
        fetchUrl: "http://angular-fragment:4000/fragment/slider"
    }
]

function getUrlWithId() {
    const id = Astro.url.searchParams.get("id") || "";
    return "http://astro-fragment:4321/?id=" + id
}

const { esi } = Astro.params;

const page = pages.find(p =>  p.esi && p.esi === esi) || pages[0];

const { fetchUrl } = page;
if (fetchUrl === null) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found'
    })
}


const response = await fetch(fetchUrl);
const html = response.ok ? await response.text() : `<pre>Fetch fehlgeschlagen: ${response.status}</pre>`;
---
<BaseLayout>
    <h1>Shell Example Page</h1>
    <Fragment set:html={html}></Fragment>
</BaseLayout>
