---
import BaseLayout from './../layouts/BaseLayout.astro';

export const partial = false;

const id = Astro.url.searchParams.get("id") || "";

const response = await fetch(
	"http://astro-fragment:4321/?id=" + id,
);
---
<BaseLayout>
		<h1>Shell Example Page</h1>
		<Fragment set:html={response}></Fragment>
</BaseLayout>
